name: Run Tests

on:
  push:
    paths-ignore:
      - ".github/workflows/agent.yml"
      - ".github/workflows/codeql-analysis.yml"
      - ".github/workflows/test-on-pr.yml"
      - ".github/workflows/contributors.yml"
      - "README.md"
      - ".goreleaser.yml"
  pull_request:
    branches:
      - main

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu, windows, macos]

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.20.14"

      - name: Unit test
      # Skip TestCloudflareDetection here, as most IP addresses of Github's action
      # runners have been marked as bot.
        run: |
          go test -skip TestCloudflareDetection -v ./...
          
      #- name: Run Gosec Security Scanner
      #  if: runner.os == 'Linux'
      #  run: |
      #    go install github.com/securego/gosec/v2/cmd/gosec@v2.19.0
      #    gosec -exclude=G104 ./...
